/* VARIABLE */

:root {
  --soft-red: rgb(255, 95, 95);
  --font-primary: 'Roboto', 'sans-serif';
  --font-secondary: 'Niconne', cursive;
}

/* ANIMATION */

@keyframes text-shadow {
  0% {
    text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 5px rgb(255, 0, 0), 0 0 5px rgb(255, 0, 0), 0 0 5px rgb(255, 0, 0);
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 5px #001aff, 0 0 5px #001aff, 0 0 5px #001aff, 0 0 5px #001aff, 0 0 5px #001aff;
  }
} 

@keyframes box-shadow {
  0% {
    box-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0), inset 0 0 10px rgb(255, 0, 0), inset 0 0 10px rgb(255, 0, 0);
  }
  100% {
    box-shadow: 0 0 5px #fff, 0 0 10px #001aff, 0 0 10px #001aff, inset 0 0 10px #001aff, inset 0 0 10px #001aff, inset 0 0 10px #001aff;
  }
}

/* GLOBAL */

body {
  background: rgb(0, 0, 0);
  font-family: var(--font-primary);
  font-weight: 400;
}

a {
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAVBAR */

.navbar {
  justify-content: space-between;
  font-family: var(--font-secondary);
  padding: 50px 20px 20px 20px;
}

.navbar__item-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.navbar__item {
  color: var(--soft-red);
  display: inline-block;
  font-size: 35px;
  transition: transform linear 200ms;
}

.navbar__item:nth-child(2) {
  margin-left: 8px;
  margin-right: 8px
}

/* İndex.html */

.welcome {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.welcome__header {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  animation: 3s linear 0s infinite alternate box-shadow;
}

.welcome__heading {
  color: rgb(255, 255, 255);
  font-family: var(--font-primary);
  font-size: calc(20px + 6vw);
  font-weight: 400;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  animation: 3s linear 0s infinite alternate text-shadow;
}

/* Projects.html*/

.projects-main {
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

.card-wrapper {
  flex-direction: column;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 5px 2px var(--soft-red);
  display: flex;
  flex-direction: column;
  height: 320px;
  margin-bottom: 21px;
  min-width: 250px;
  max-width: 300px;
}

.card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card__project-image {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
  height: 70%;
  width: 100%;
}

.card__button-container {
  flex-grow: 1;
  text-align: center;
}

.card__button {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  line-height: 60px;
  width: 50%;
}

.card__project-name {
  background: rgb(45, 38, 38);
  color: rgb(255, 255, 255);
  flex-grow: 1;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  text-align: center;
}

.card__button--first {
  background: rgb(174, 34, 34);
  border-bottom-left-radius: 10px;
  color: rgb(255, 255, 255);
}

.card__button--second {
  background: #131215;
  border-bottom-right-radius: 10px;
  color: rgb(255, 255, 255);
}

/* About.html */

.about {
  margin-top: 50px;
}

.about__header {
  margin-bottom: 30px;
}

.about__heading {
  color: var(--soft-red);
  text-align: center;
}

.about__text {
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 350px;
  width: 80%;
}

.about__social {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: max-content;
}

.about__social-link {
  margin-right: 15px;
}

.about__social-icon {
  color: #fff;
  height: auto;
  width: 20px;
}

/* MEDIA */

@media(min-width: 671px) {
  .projects-main {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 671px;
  }
  .card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card-wrapper div.card:nth-child(even) {
    margin-left: 21px;
  }
}

@media(min-width:1024px) {
  .navbar__item {
    color: rgb(255, 255, 255);
  }
  .navbar__item:hover {
    transform: scale(1.25);
    color: rgb(255, 95, 95);
    text-decoration: underline;
  }
  .projects-main {
    max-width: 1500px;
    width: 90%;
  }
  .card {
    margin-left: 21px;
    margin-right: 21px;
  }
  .card__button:hover {
    background-color: rgb(0, 163, 189);
    color: white;
  }
  .about__social-icon {
    transition: all 200ms linear;
    width: 25px;
  }
  .about__social-icon:hover {
    color: var(--soft-red);
    transform: scale(2);
  }
}