/* VARIABLE */

:root {
  --soft-red: rgb(255, 95, 95);
  --font-primary: 'Lato', 'sans-serif';
}

/* GLOBAL */

*, ::before, ::after {
  margin: 0;
  padding: 0;
}

body {
  background: #2e4053;
  font-family: var(--font-primary);
  font-weight: 400;
}

a {
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacing-bottom {
  margin-bottom: 10px;
}

/* NAVBAR */

.navbar {
  font-family: var(--font-primary);
  padding: 50px 10px 20px 10px;
}

.navbar__item {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 35px;
  transition: transform linear 200ms;
}

.navbar__item:nth-child(1) {
  margin-right: 30px;
}

/* index.html */

.about {
  flex-direction: column;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
}

.profile {
  flex-direction: column;
  margin-top: 60px;
  width: max-content;
}

.profile__image-container {
  border-radius: 100%;
  width: max-content;
}

.profile__image { 
  border-radius: 100%;
  object-fit: cover;
  width: 120px;
  height: 120px;
}

.about__header {
  font-weight: 400;
  margin-bottom: 30px;
}

.about__heading {
  color: rgb(255, 255, 255);
  text-align: center;
}

.about__text {
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  line-height: 24px;
  text-align: center;
  max-width: 500px;
}

.about__social {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  width: 160px;
}

.about__social-link {
  margin-right: 15px;
}

.about__social-icon {
  color: #fff;
  height: auto;
  width: 20px;
}

/* Projects.html*/

.projects-main {
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

.card-wrapper {
  flex-direction: column;
}

.card {
  border-radius: 10px;
  border: 3px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 320px;
  margin-bottom: 21px;
  min-width: 250px;
  max-width: 300px;
}

.card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card__project-image {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
  height: 70%;
  width: 100%;
}

.card__button-container {
  flex-grow: 1;
  text-align: center;
}

.card__button {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  line-height: 60px;
  width: 50%;
}

.card__project-name {
  background: rgb(45, 38, 38);
  color: rgb(255, 255, 255);
  flex-grow: 1;
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  text-align: center;
}

.card__button--first {
  background: rgb(174, 34, 34);
  border-bottom-left-radius: 10px;
  color: rgb(255, 255, 255);
}

.card__button--second {
  background: #131215;
  border-bottom-right-radius: 10px;
  color: rgb(255, 255, 255);
}

/* MEDIA */

@media(min-width: 671px) {
  .projects-main {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 671px;
  }
  .card-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card-wrapper div.card:nth-child(even) {
    margin-left: 21px;
  }
}


@media(min-width:1024px) {
  .navbar__item:hover {
    transform: scale(1.25);
    color: rgb(255, 95, 95);
    text-decoration: underline;
  }
  .projects-main {
    max-width: 1500px;
    width: 90%;
  }
  .card {
    margin-left: 21px;
    margin-right: 21px;
  }
  .card__button:hover {
    background-color: rgb(0, 163, 189);
    color: white;
  }
  .about {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .profile {
    align-self: flex-start;
  }
  .about__social-icon {
    transition: all 200ms linear;
    width: 25px;
  }
  .about__social-icon:hover {
    color: var(--soft-red);
    transform: scale(2);
  }
}